/*
************************************
Estilos para o layout básico
************************************
*/
.configlabel {
    font-size: 11pt;
    color: #818181;
    font-family: 'Segoe UI';
    background-color: transparent;
    float: left;
    vertical-align: central;
    line-height: 30px;
}
.configlabelDash {
    color: #FFFFFF;
    font-family: 'Segoe UI';
    background-color: transparent;
    font-size:12pt;
    line-height:18px;
}

.configlabelConsumo {
    font-size: 10pt;
    color: White;
    font-family: 'Segoe UI Semibold';
    background-color: transparent;
    vertical-align: central;
    height: 15px;
}

.configlabelConsumoCorpo {
    font-size: 10pt;
    color: #616161;
    font-family: 'Segoe UI';
    background-color: transparent;
    vertical-align: central;
    float:right; 
    height: 15px;
}

.textBoxLogin {
    float: left;
    text-align: left;
    border-bottom: 2px solid #FFF;
    padding: 10px;
    outline: none;
}

.textBoxLogin::-webkit-input-placeholder {
    color: #BDBDBD;
}

.textBoxLogin::-moz-placeholder {
    color: #BDBDBD;
}

.textBoxLogin:-ms-input-placeholder {
    color: #BDBDBD;
}

.paddingConsumo {
    padding: 5px;
}

.configtext
{	border: 1px solid #818181;
    font-size: 9pt; 
	color: #333333; 
	font-family: 'Segoe UI'; 
	background-color:transparent;
    float: left;
    height:32px;
    border-radius: 4px;
    padding: 5px;
}

.configtextDash {
    color: #FFFFFF;
    font-family: 'Segoe UI';
    background-color: transparent;
    float: right;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
}

.labelCalendarioDisabled {
    color: #BDBDBD;
    background-color: transparent;
}

.labelCalendario {
    color: #0288D1;
    border-radius: 4px;
    position: relative;
    background-color: transparent;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.labelCalendario:hover {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #433b47;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 8px 0px;
    animation-name: cardUp;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -ms-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;
}

/*animacao dos botoes*/
@-webkit-keyframes cardUp {
    from {
        bottom: 0px;
    }

    to {
        bottom: 6px;
    }
}

@keyframes cardUp {
    from {
        bottom: 0px;
    }

    to {
        bottom: 6px;
    }
}

.labelCalendarioSelected {
    /*border: 2px solid #64B5F6;*/
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #1E88E5;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 8px 0px;
}

.configlistbox
{	font-size: 9pt; 
	color: black; 
	font-family: Arial;
	background-color: transparent;
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
}

.configlistboxpesquisa
{	font-size: 9pt; 
	color: black; 
	font-family: Arial;
	background-color: transparent;
	border-width:1px;
	border-style:solid;
	border-color:White;
}

.configlistboxAbrir 
{
    font-size: 12pt;
    color: #262627;
    font-family: 'Segoe UI';
    background-color: transparent;
    border: 1px solid #818181;
    border-radius: 4px;
    padding: 5px;
    overflow:auto;
}
.configCombo
{	font-size: 9pt; 
	color: #262627; 
	font-family: 'Segoe UI';
	height:32px;
	background-color: transparent;
    border: 1px solid #818181;
    float: left;
    border-radius: 4px;
    padding: 5px;
}
.configComboBorda {
    font-size: 9pt;
    color: Black;
    font-family: 'Segoe UI';
    height: 30px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: silver;
    float: left;
    border-radius: 6px 6px;
}

.configchekbox
{	font-size: 9pt; 
	color: Black; 
	font-family: Arial;
    font-weight:900;
}

.checkboxFatura{
    padding: 2.4rem 0 !important;
}

.configbutton
{	border-width:0px;
	border-style:hidden;
}

.Dash {
    font-size: 26px;
    text-align: left;
    color: #454545;
    font-family: 'Segoe UI Symbol';
    /*background: -webkit-linear-gradient(top, #96c93d, #00b09b);
    background: linear-gradient(top, #96c93d, #00b09b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    /*white-space: nowrap*/
}

.bt_tools_desabilita{
    opacity:03;
}

.bt_cockpit_menu {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background-color: transparent;
    z-index: 10;
}

.caixaLogin {
    width: 500px;
    background-color: #000;
    border: 6px solid #FFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(255,255,255,0.2) 0px 4px 24px 2px;
}

.btn-login {
    border: 2px solid #FFF;
    border-radius: 8px;
    background-color: #000;
    color: #FFF;
    font-weight: bolder;
    width: 100%;
    height: 40px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: 30px;
}

    .btn-login:focus {
        outline: none;
    }

    .btn-login:hover {
        transition: 0.4s ease-in-out;
        background-color: #FFF;
        color: #000;
    }

/*/ Responsivo para tela mobile /*/
@media only screen and (max-width: 600px) {

    .configlistboxAbrir {
        font-size: 12pt;
        color: #262627;
        font-family: 'Segoe UI';
        background-color: transparent;
        border: 1px solid #818181;
        border-radius: 4px;
        padding: 5px;
        overflow: auto;
    }

    .caixaLogin {
        width: 100%;
        background-color: #000;
        border: 6px solid #FFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(255,255,255,0.2) 0px 4px 24px 2px;
    }
}

/*.btn-menu {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-menu:hover, .btn-menu:focus, .btn-menu:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.btn-menu:hover .speech-bubble {
    visibility: visible;
}*/

/*tooltip dos botões do menu*/
/*.speech-bubble {
    position: absolute;
    top: -35px;
    background: #323232;
    border-radius: 4px;
    padding: 7px 15px 7px 15px;
    visibility: hidden;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #323232;
    border-bottom: 0;
    margin-left: -8px;
    margin-bottom: -8px;
}*/